@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');


:root {

--DarkElements: hsl(209, 23%, 22%);
--DarkBackground: hsl(207, 26%, 17%);
--LightText: hsl(200, 15%, 8%);
--LightInput: hsl(0, 0%, 52%);
--LightBackground: hsl(0, 0%, 98%);
--DarkText: hsl(0, 0%, 100%);
--LightElements: hsl(0, 0%, 100%);
}

*{
	font-size: 14px;
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	padding: 0;

}

html{
	background-color: var(--Background);
}

.shadow{
    box-shadow: rgba(0,0,0,0.3) 0px 3px 30px 2px;

}

header {
	display: flex;
	justify-content: space-between;
    padding: 15px;
    background-color: var(--Elements);
    color: var(--Text);
}

header *{
	display: flex;
	align-items: center;
	font-weight: 800;
	margin:  3px;
}

.top{
	position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 95;
    background-color: var(--Background);
}

.name{
	font-size: 25px;
	margin:0;
	font-weight: 800;

}

.info b{
	font-weight: 800;
}

.info span{
	font-weight: 600;
	opacity: .75;
	padding-left: 5px;
}

.info{
	text-transform: capitalize;
	letter-spacing: 1px;
	margin-top: 10px;
}

.card{
	background-color: var(--Elements);
    color: var(--Text);
    margin-bottom: 10px;
    width: 300px;
    border-radius: 6px; 
    margin-top:48px;
    z-index:90;
    cursor:pointer;
}

.infoText{
	padding: 15px;
    padding-bottom: 25px;
    white-space: 20px;
}

.sorting{
	color:var(--Text);
	display: flex;
	justify-content: space-between;
	margin-left:48px;
    margin-right:48px;
}

.sortElement{
	background-color:var(--Elements) ;
	border-radius:6px ;
	display:flex;
	align-items: center;
	padding:12px;
	cursor: pointer;
	margin-top: 48px;

}

.sortElement input{
	background-color: inherit;
	color:inherit;
	border:  none;
	outline: none;
	margin-left:10px;
	width: 100%;
}

.sortRegion {
	display: flex;
	justify-content: space-between;
}



.cards{
	display: grid;
	grid-template-columns: repeat(auto-fill , 300px);
    gap: 15px;
    justify-content: space-between;
    margin-left:48px;
    margin-right:48px;
    padding-top: 180px;
}


.sortSearch{
	width: 40%;
}

.button{
	    background-color: var(--Elements);
    color: var(--Text);
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    margin-left: 48px;
    white-space: nowrap;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    cursor: pointer;

}

.aboutPage{
	display: flex;
	color:var(--Text);
}

.aboutFlag{
 width: calc(50% - 48px);
    height: 100%;
    margin: 48px;
}

.cols{
	display: flex;
	justify-content: space-between;
	gap:  20px;
}

.allInfo{
	margin: 20px;
	width: calc(50% - 48px);

}

.borders{
	display: flex;
	margin-top: 50px;
}

.bordersCountries{
	display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

@media(max-width: 1026px){
	.cards{
		justify-content: center;
		gap:60px;
	}
}


@media (max-width: 711px){
	.cards{
		justify-content: center;
		padding-top: 270px;
		gap:15px;
	}

	.sorting{
		display: grid;
	}

	
	.sortSearch{
		width: calc(100vw - 48px - 48px);
	}

	.aboutPage{
		display: grid;

	}

	.aboutFlag{
		width: calc(100% - 48px - 48px );
   		 height: 48vw;
	}

	.allInfo{
		width: calc(100% - 48px - 48px);
		margin: 48px; 
	}

	.cols{
		display: grid;
	}

	.col1{
		margin-bottom:48px;
	}
	.borders{
		display: grid;
	}

	.bordersCountries{
		margin-top: 30px;

	}

	.borders *{
		margin-left: 0;
	}

}